<h1>Cadastrar Novo Bibliotecário</h1>
<%= form_with model: @user, url: admin_users_path do |form| %>
  
  <%# Bloco para exibir erros de validação, caso ocorram %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "erro") %> impediu este usuário de ser salvo:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %><br>
    <%= form.text_field :nome, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Bibliotecário" %>
  </div>
<% end %>

<br>
<%= link_to "Voltar para a lista", admin_users_path %>